{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h1>User index</h1>
            <a href="{{ path('app_admin_user_new') }}">Create new</a>
        </div>
        <div class="ibox-content">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Avatar</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody id="container">
                {#
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td width="100px">
                            {% if user.avatar|length > 0 %}
                                <img src="{{ asset('uploads/user/' ~ user.avatar) }}" width="100px" />
                            {% endif %}
                        </td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.sex }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
                            <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                #}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        const container = document.querySelector('#container');

        fetch("{{ path('app_admin_user_index') }}", {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        }).then(result => {
            return result.json();
        }).then(json => {
            let avatar = '';
            for (user of json.users) {
                if (user.avatar?.length > 0) {
                    avatar = `<img src="{{ asset('uploads/user/') }}${user.avatar}" width="100px" />`;
                } else {
                    avatar = '';
                }

                let showUrl = '{{ path('app_admin_user_show', {'id': 'USER_ID'}) }}'.replace('USER_ID', user.id);
                let editUrl = '{{ path('app_admin_user_edit', {'id': 'USER_ID'}) }}'.replace('USER_ID', user.id);

                const tpl = `
                    <tr>
                        <td>${user.id}</td>
                        <td width="100px">
                            ${avatar}
                        </td>
                        <td>${user.firstName}</td>
                        <td>${user.lastName}</td>
                        <td>${user.login ? user.login : ''}</td>
                        <td>${user.email ? user.email : ''}</td>
                        <td>${user.birthday ? user.birthday : ''}</td>
                        <td>
                            <a href="${showUrl}">show</a>
                            <a href="${editUrl}">edit</a>
                        </td>
                    </tr>
                `;

                container.insertAdjacentHTML('beforeend', tpl);
            }
            console.log(json);
        })
    </script>
{% endblock %}
