{% for post in posts %}
    <article class="post">

        <div class="post-header">
            <h2 class="post-title"><a href="{{ path("post_show", {id: post.id}) }}">{{ post.name }}</a></h2>
            <ul class="post-meta">
                <li><i class="mdi mdi-calendar"></i> {{ post.published_at|format_date }}</li>
                <li>
                    <i class="mdi mdi-tag-text-outline"></i>
                    {{ post.category }}
                </li>
                <li><i class="mdi mdi-comment-multiple-outline"></i> <a href="#">3 Comments</a></li>
            </ul>
        </div>

        <div class="post-preview">
            <a href="{{ path("post_show", {id: post.id}) }}"><img src="{{ asset('images/blog/blog-1.jpg') }}" alt="" class="img-fluid rounded"></a>
        </div>

        <div class="post-content">
            {{ post.content|striptags|u.truncate(300, '...') }}
        </div>

        <div>
            <a href="{{ path("post_show", {id: post.id}) }}" class="btn btn-outline-custom">Read More <i class="mdi mdi-arrow-right"></i></a>
        </div>

    </article>
{% endfor %}

{{ knp_pagination_render(posts) }}
