{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-md-9 col-xs-12">
                                {% if app.user is not empty %}
                                    <h2>
                                        <span>
                                            {{ 'Hello, %name%!'|trans({
                                                '%name%': app.user.login
                                            }) }}
                                        </span>
                                    </h2>
                                {% else %}
                                    <h2><span>News and Stories</span></h2>
                                {% endif %}
                                <p class="subtitle text-muted">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 pb-5">
        <div class="container">

            <div class="row">
                <!-- Content-->
                <div class="col-xl-8">
                    <div id="post-list">
                        {% include 'default/_posts.html.twig' %}
                    </div>
                    <button class="btn btn-light" id="load-more-btn">Load more</button>
                </div>

                <!-- Sidebar-->
                <div class="col-xl-4">
                    <div class="sidebar">

                        <!-- Search widget-->
                        <aside class="widget widget_search">
                            <form action="{{ path('homepage') }}" id="form-search" method="get">
                                <input
                                        class="form-control pr-5"
                                        type="text"
                                        name="keyword"
                                        placeholder="Search..."
                                        value="{{ app.request.query.get('keyword') }}"
                                >
                                <button class="search-button" type="submit"><span class="mdi mdi-magnify"></span></button>
                            </form>
                        </aside>

                        <aside class="widget about-widget">
                            <div class="widget-title">About Me</div>

                            <div class="text-center">
                                <img src="images/photo.jpg" alt="About Me" class="rounded-circle">

                                <p>
                                    {{ render(controller('App\\Controller\\DefaultController::text', {
                                        name: 'about_me'
                                    })) }}
                                </p>
                            </div>

                        </aside>

                        <aside class="widget about-widget">
                            <div class="widget-title">Subscribe & Follow</div>

                            <ul class="socials">
                                <li><a href="http://facebook.com/"><i class="mdi mdi-facebook"></i></a></li>
                                <li><a href="http://twitter.com/"><i class="mdi mdi-twitter"></i></a></li>
                                <li><a href="http://instagram.com/"><i class="mdi mdi-instagram"></i></a></li>
                                <li><a href="http://pinterest.com/"><i class="mdi mdi-pinterest"></i></a></li>
                            </ul>

                        </aside>

                        <!-- Categories widget-->
                        {{ render(controller('App\\Controller\\DefaultController::categoriesWidget')) }}

                        <!-- Recent entries widget-->
                        {{ render(controller('App\\Controller\\DefaultController::popularPostsWidget')) }}

                        <!-- Text widget-->
                        <aside class="widget">
                            <div class="widget-title">Text Widget</div>

                            <p class="text-muted text-widget-des">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. </p>

                        </aside>

                        <!-- Archives widget-->
                        <aside class="widget">
                            <div class="widget-title">Archives</div>

                            <ul>
                                <li><a href="#">March 2019</a> (40)</li>
                                <li><a href="#">April 2019</a> (08)</li>
                                <li><a href="#">May 2019</a> (11)</li>
                                <li><a href="#">Jun 2019</a> (21)</li>
                            </ul>

                        </aside>

                        <!-- Tags widget-->
                        <aside class="widget widget_tag_cloud">
                            <div class="widget-title">Tags</div>
                            <div class="tagcloud">
                                <a href="#">logo</a>
                                <a href="#">business</a>
                                <a href="#">corporate</a>
                                <a href="#">e-commerce</a>
                                <a href="#">agency</a>
                                <a href="#">responsive</a>
                            </div>
                        </aside>
                    </div>
                </div>
                <!-- Sidebar end-->
            </div>

        </div>
        <!-- end container -->
    </section>

    <script type="application/x-template" id="post-template">
        <article class="post" data-id="__POST_ID__" data-date="__POST_DATE__">
            <div class="post-header">
                <h2 class="post-title"><a href="__POST_URL__">__POST_NAME__</a></h2>
                <ul class="post-meta">
                    <li><i class="mdi mdi-calendar"></i> __POST_DATE__</li>
                    <li>
                        <i class="mdi mdi-tag-text-outline"></i>
                        __POST_CATEGORY__
                    </li>
                    <li><i class="mdi mdi-comment-multiple-outline"></i> <a href="#">3 Comments</a></li>
                </ul>
            </div>
            <div class="post-preview">
                <a href="__POST_URL__"><img src="__POST_IMAGE__" alt="" class="img-fluid rounded"></a>
            </div>
            <div class="post-content">
                __POST_CONTENT__
            </div>
            <div>
                <a href="__POST_URL__" class="btn btn-outline-custom">Read More <i class="mdi mdi-arrow-right"></i></a>
            </div>
        </article>
    </script>

    <script>
        const form = document.querySelector('#form-search');
        const input = form.querySelector('input[name="keyword"]');

        let timeoutHandler;
        let requestHandler;

        input.addEventListener('input', function(e) {
            console.log(input.value);

            clearTimeout(timeoutHandler);
            timeoutHandler = setTimeout(() => {
                requestHandler = $.ajax({
                    url: form.action,
                    data: {keyword: input.value},
                    beforeSend: () => {
                        if (requestHandler) {
                            requestHandler.abort();
                        }
                    },
                    success: response => {
                        document.querySelector('#post-list').innerHTML = response;
                    }
                })
            }, 500);

        })

        const btnLoadMore = document.querySelector('#load-more-btn');
        const postTemplate = document.querySelector('#post-template');

        let isLoading = false;
        btnLoadMore.addEventListener('click', async () => {
            const article = document.querySelector('#post-list article:last-child');
            const date = article.dataset.date;
            const id = article.dataset.id;

            isLoading = true;
            const response = await fetch('{{ path('get-posts') }}?date=' + date + '&id=' + id);
            const posts = await response.json();

            for (let post of posts) {
                let html = postTemplate.textContent;
                html = html.replaceAll('__POST_ID__', post.id);
                html = html.replaceAll('__POST_DATE__', post.published_at);
                html = html.replaceAll('__POST_URL__', post.url);
                html = html.replaceAll('__POST_NAME__', post.name);
                html = html.replaceAll('__POST_CATEGORY__', post.category);
                html = html.replaceAll('__POST_CONTENT__', post.content);
                html = html.replaceAll('__POST_IMAGE__', '/uploads/' + (post.image || 'blog-preview.jpg'));

                document.querySelector('#post-list').insertAdjacentHTML('beforeend', html);
            }

            isLoading = false;
        })

        window.addEventListener('scroll', () => {
            if (isLoading) {
                return ;
            }

            if (window.pageYOffset > (document.querySelector('body').offsetHeight - 1500)) {
                btnLoadMore.click();
            }
        })
    </script>
{% endblock %}
