{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group row">
        <div class="col-lg-4 col-lg-offset-2">
            <a class="btn btn-white btn-sm" href="{{ path('app_admin_content_index') }}">back to list</a>
            <button class="btn btn-primary btn-sm" type="submit">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
